<?xml version="1.0"?>
<model>
  <name>3DR Iris with simple ros camera</name>
  <version>1.0</version>
  <sdf version='1.4'>iris_ros_cam.sdf</sdf>

  <author>
   <name>Yury Rumyantsev</name>
   <email>urock@fastsense.tech</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with simple ROS camera
  </description>
</model>
