<?xml version="1.0"?>
<model>
  <name>3DR Iris with vi_sensor</name>
  <version>1.0</version>
  <sdf version='1.4'>iris_vi_sensor.sdf</sdf>

  <author>
   <name>Yury Rumyantsev</name>
   <email>urock@fastsense.tech</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with vi_sensor
  </description>
</model>
