<?xml version="1.0"?>

<robot name="iris" xmlns:xacro="http://ros.org/wiki/xacro">


  <!-- Instantiate iris "mechanics" -->
  <xacro:include filename="$(arg rotors_description_dir)/urdf/iris_base.xacro" />


  <xacro:vi_sensor_macro
    namespace="${namespace}/vi_sensor"
    parent_link="base_link"
    enable_cameras="true"
    enable_depth="true"
    enable_ground_truth="true">
    <origin xyz="0.1 0.0 -0.03" rpy="0.0 0.1 0.0" />
  </xacro:vi_sensor_macro>

</robot>

